.section {
    background-color: darkslategray;
    padding: 1rem;
    margin: 1rem;
}

.paragraph {
    background-color: white;
    padding: 1rem;
}

pharagraph.draggin {
    opacity: 0.3;
    background-color: white;
    padding: 1rem;
}